<?xml version="1.0"?>
<packages>
    <!-- Browsers -->
    <package id="googlechrome"/>
    <package id="firefox"/>

    <!-- Tools -->
    <package id="7zip.install"/>
    <package id="teamviewer"/>
    <package id="dukto"/>
    <package id="jdownloader"/>
    <package id="utorrent"/>
    <package id="office365proplus"/>
    <package id="adobe-creative-cloud"/>

    <!-- Media -->
    <package id="vlc"/>
    <package id="itunes"/>
    <package id="spotify"/>

    <!-- Styles -->

    <!-- Develop -->
    <package id="git.install"/>
    <package id="atom"/>
    <package id="jetbrainstoolbox"/>
    <package id="nodist"/>

</packages>
